<p>Please use the form below to request that your account be reset:</p>
<form method="post" action="/reset">  
  <p><label for="username">Username:</label><input type="text" name="username" /></p>
  <p><label for="email">Email:</label><input type="text" name="email" /></p>
  <p>
  	<button class="button-submit" type="submit" value="Update">Reset</button>	
  </p>
</form>
<p style='font-size: 0.9em; color: grey;'><i>If you have forgotten your
  account username, you can get it by running
  <code>npm owner ls [pkg]</code>
  for a package that you have previously published.</i></p>
